.subscribe{
    @media screen and (min-width:768px) {
        display: flex;
        align-items: flex-end;
        padding-top: 120px;
        background-color: getColor('secondary-bgn-color');
    }

}              

.subscribeContainer {
    @extend %container;
}
.img-left {
    @media screen and (max-width:767px) {
        display: none;
    }
}



.subscribePreTitle {
    @extend %p, %pre-title;
    @media screen and (min-width:768px) {
        text-align: center;
    }

}

.subscribeTitle {
    @extend %h2, %title;
    @media screen and (min-width:768px) {
        text-align: center;
    }
    margin-bottom: 60px;
}

.subscribeForm-flexbox {
    @media screen and (min-width:768px) {
        display: flex;
        justify-content: center;
        margin-bottom: 180px;
    }
    margin-bottom: 100px;

}

.subscribeForm--placeholder {
    @extend %font-LatoRegular;
    @media screen and (max-width:767px) {
        min-width: 290px;
        margin-bottom: 15px;
        padding-top: 13px;
        padding-bottom: 13px;
        padding-left: 16px;


    }
    @media screen and (min-width:768px) {
        margin-right: 24px;
        padding: 13px 272px 13px 16px;
        width: 422px;
    }

    border-radius: 4px;
    border: 1px solid #D7DADD;
    
    display: flex;
    height: 52px;
   
    align-items: center;
    flex-shrink: 0;
    
    color: getColor('gray-600');
    font-size: 16px;;
    line-height: 1.6;
}

.subscribeForm--btn {
    @include accentBtn(16px, 3.25);
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 0 40px;
}   
.img-rignt {
    @media screen and (max-width:767px) {
    display: none;
    }

}