.team {
    @media screen and (max-width:767px) {
        padding-top: 70px;
        padding-bottom: 70px;
    }
    padding-top: 166px;
    padding-bottom: 160px;

    background-image: url(../images/bgn-team.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

.teamContainer {
    @extend %container;
}

.teamTitleblock {
    position: relative;
    display: flex;
    margin-bottom: 60px;
}

.teamPreTitle {
    @extend %p, %pre-title;
}
.teamTitle {
    @extend %h2, %title;
}

.teamBtnlist {
    @extend %list;
    @media screen and (max-width:767px) {
        display: none;
    }
    position: absolute;
    top: 55px;
    right: 0;
    display: flex;
}

.teamBtn {
    @extend %round--btn
}

.teamBtn--svg {
    fill:currentColor
}

.teamList {
    @extend %list;
    @media screen and (max-width:767px) {
        margin-bottom: 80px;
    }
    display: flex;
    margin-bottom: 180px;
}
// -----slider

.slick-track {
    display: flex;
}
.slick-list {
    overflow: hidden;
}

.slick-dots {
    @extend %list;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    font-size: 0;
}

.slick-dots li:not(:last-child){
margin-right: 12px;
}

.slick-dots button {
    width: 30px;
    height: 3px;
    border-radius: 4px;
    border: 1px solid transparent;
    background-color: #b3b7bc;
}

.slick-dots .slick-active button {
    background-color: #424551;
}

.articleList-block {
    min-width: 0;
}
// --------------

.teamItem:not(:last-child){
    @media screen and (max-width:767px) {
        margin-right: 10px;
    }
    margin-right: 30px;
}

.teamImg {
    @extend %img;
    margin-bottom: 16px;
}

.teamItem .teamLinkblock {
    @media screen and (max-width:767px) {
        justify-content:center;
    }
    display: flex;
    justify-content: flex-end;
}

.team--overlay{
    @media screen and (min-width:768px) {
        position: relative;

        &::before {
    
            display: inline-block;
            position: absolute;
            content: '';
            width: 100%;
            height: 100%;
            bottom: 0;
            left: 0;
            border-radius: 4px;
            background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.90%,
                                                rgba(30, 33, 44, 0.03) 55.21%,
                                                rgba(30, 33, 44, 0.33) 68.73%,
                                                rgba(30, 33, 44, 0.56) 76.17%,
                                                rgba(30, 33, 44, 0.77) 83.75%,
                                                rgba(30, 33, 44, 0.92) 91.49%,
                                                #1E212C 100%);
            opacity: 0;
        }
    
        &:hover::before{
            opacity: 1;
        }
        
        &:hover .teamLinkblock {
            opacity: 1;
        }
    }

}

.teamLinkblock{
    @media screen and (min-width:768px) {
        position: absolute;
        bottom: 15px;
        right: 20px;
        opacity: 0;
    }
}

.teamItem--link {
    @extend %link;
}

.teamItem--link:not(:last-child) {
    margin-right: 12px;
}

.teamItem--svg {
    @media screen and (max-width:767px) {
    fill: getColor('title-text-color');
    }
    fill: getColor('white-text-color');
    opacity: 0.6000000238418579;

    &:hover {
        opacity: 1;
    }
    }
  



.teamItem--title {
    @extend %h2, %font-LatoBold;
    margin-bottom: 4px;

    color: getColor('primary-text-color');
    font-size: 20px;
    line-height: 1.5;
    text-align: center;
}

.teamItem--pretitle {
    @extend %h3, %font-LatoRegular;
    color: getColor('secondary-text-color');
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
}

.teamResponse--preTitle {
    @extend %p, %pre-title;
    text-align: center;
}

.teamResponse--title {
    @extend %h2, %title;
    text-align: center;
    margin-bottom: 60px;
}

.teamBtn--left{
    @extend %round--btn;
    @media screen and (max-width:767px) {
        display: none;
    }
    margin-right: 69px;
    fill:currentColor;
}

.teamBtn--right{
    @extend %round--btn;
    @media screen and (max-width:767px) {
        display: none;
    }
    margin-left: 69px;
    fill:currentColor;
}

.teamArticleblock {
    display: flex;
    align-items: center;
}

.teamArticleList {
    @extend %list;
}

.article {
    @media screen and (max-width:767px) {
        padding: 40px 40px;
    }
    border-radius: 4px;
    padding: 64px 105px;

    background-color: getColor('white-bgn-color');
}

.articleTitle {
    @extend %h2, %visually-hidden, %font-LatoBold;  
    color: getColor('title-text-color');
    font-size: 16px;
    line-height: 1.6;
}

.articleText {
    @extend %p, %font-LatoRegular;
    font-size: 20px;
    line-height: 1.5;
}

.articleText--svg {
    margin-right: 30px;
}

.articleAuthor--block {
    display: flex;
    align-items: center;
    margin-top: 24px;
}

.articleAuthor--img {
    @extend %img;
    margin-right: 20px;
}

.articleAothor--name {
    @extend %h2, %font-LatoBold;
    color: getColor('title-text-color');
    font-size: 16px;
    line-height: 1.6;
}

.articleAothor--position {
    @extend %h3, %font-LatoRegular;
    color: getColor('secondary-text-color');
    font-size: 14px;
    line-height: 1.5;
}

.teamDotList {
    @extend %list;
    display: flex;
    margin-top: 60px;
    justify-content: center;
}

.teamDotItem:not(:last-child){
    margin-right: 12px;
}

